

@import './palette.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');


$maxWidth: 1280px;


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.hide{
  display: none !important;
}
*{
    margin: 0;
    padding: 0;
    outline: none;
}
body {
  margin: 0;
  font-family:'Roboto';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wrapper{
    max-width: $maxWidth;
    margin: 0 auto;
}

li{
    list-style-type: none;
}
a{
  text-decoration: none;
}

.cont-navbar{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5;
    a{
      color: white;
      
    }
    .bt-home{
      @media only screen and (max-width: 768px) {
        a{
          color:$russian-violet;
        }
        
      }
      @media only screen and (max-width: 380px) {
        a{
          display: none;
        }
        
      }
    }
    .wrapper{
        position: relative;
       .cont-logo{
          img{
           // margin-left: 72px;
           // margin-top: 78px;
          }
       }
       .cont-menu{
            position: absolute;
            top: 0;
            right: 0;
            padding-right: 20px;
            ul{
              padding-top: 40px;
              display: flex;

              li{
                  margin: 0 10px;
                  a{
                    font-size: 15px;
                    font-weight: 800;
                    padding: 10px 10px;  
                  }
              }
              .bt-login{
                  a{
                    background-color: $terra-cotta;
                    border-radius: 100px;
                    padding: 15px 35px;
                  }
                
              }
            }

        }
    }
}
.App-header {
  background-color:$russian-violet;
  border-bottom: 25px solid $forest-green-crayola;
    

    .wrapper{

        .header-top{
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            position: relative;
            background-image: url('/images/headerBackground.jpg');
            background-size: 82%;
            background-position: bottom right;
            background-repeat: no-repeat;

            // conteudo esquerda
            & > div:first-child{
                min-height: 578px;
                background-image: url('/images/topoFundoEsquerdo.png');
                background-repeat: no-repeat;
                width: 830px;
                margin-top: -61px;
                margin-left: -74px;

              // background-position: -83px -54px;
            }

            .texto-header{
                position: absolute;
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items:center ;
                h2{
                  text-align: center;
                  color: white;
                }
            }

            
            
        }
    }
}

.cont-box-produto{
  background-color: white;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  text-align: center;
  .seloDesconto{
      position: absolute;
      top: 8px;
      right: 8px;
      background-color: #F7B600;
      border-radius: 100px;
      width: 45px;
      height: 45px;
      font-weight: 800;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 12px;
  }
  .cont-image{
     overflow: hidden;
     margin-bottom: -13px;
     display: flex;
     justify-content: center;
     align-items:center;
     height: 240px;
     img{

     }
  }
  .nome-oferta{
      background-color: white;
      display: inline;
      margin-top: -50px;
      position: relative;
      padding: 10px 20px;
      border-radius: 50px;
      margin-bottom: 20px;
      font-size: 13px;


  }
  .descricao-oferta{
    font-size: 12px;
    margin-top: 20px;
    padding: 0 20px;
    text-align: left;
  }
  .cont-valores{
    font-weight: 800;
    margin: 10px 0;
    line-height: 1.5em;
    .de{
        color: $russian-violet2;
        font-size: 12px;
        text-decoration: line-through;
        .valor-de{

        }
    }
    .por{
        .valor-por{
          
        }
    }
      
      
  }
  .bt-assinar{
    background-color: $cinnamon-satin;
    padding: 12px 0;
    font-weight: 800;
    color: white;
  }

}

.cont-patrocinados{
    background-color: $forest-green-crayola2;
    border-bottom: 20px solid $forest-green-crayola;
    position: absolute;
    width: 100%;
    height: 220px;
    color: $russian-violet;
    .wrapper2{
      max-width: 800px;
      margin: 0 auto;
      position: relative;
    }
    .wrapper{
        position: relative;
        top: -304px;
        padding: 0 58px;
        .swiper-container{
            max-width: 800px;
            //margin-top: -50px;
            .swiper-wrapper{
              align-items: flex-end;
                .swiper-slide{
                   // max-width: 280px;
                    
                }
            }
           
            .swiper-pagination{

            }
            
        }
        .swiper-button-next::after,.swiper-button-prev::after{
          content: '';
        }
        .swiper-button-next,.swiper-button-prev{
            background-image: url('/images/bt-seta.png');
            background-repeat: no-repeat;
            background-size: 100%;
            top: 80%;
            width: 34px;
        }
        .swiper-button-next{
          right: -41px;
        }
        .swiper-button-prev{
          transform: scaleX(-1);
          left: -41px;

        }
    }
}
.cont-form{
  padding: 0 20px;
    padding-bottom: 200px;
    .wrapper{
      position: relative;
      background-color: white;
      max-width: 800px;
      margin: 0 auto;
      border: 15px solid $forest-green-crayola;
      padding: 35px 30px;
      margin-top: -200px;
      position: relative;
      border-radius: 20px;
      color: $forest-green-crayola;
      h2{
        margin-bottom: 15px;
      }
    }
    form{
        display: flex;
        flex-wrap: wrap;

        align-items: flex-start;
        color:$forest-green-crayola;
        & > div {
            display: flex;
            
        }
        & > div:first-child{
            flex-wrap: wrap;
            width: 40%;
            @media only screen and (max-width: 768px) {
              width: 100%;
            }
        }
        & > div:last-child{
          flex-flow: column;
          flex-grow: 1;
          margin-left: 5%;
          display: flex;
          justify-content: space-between;
          align-items: flex-end;
          @media only screen and (max-width: 768px) {
            margin-left: 0px;
          }
          
        }
        .imageValidate{
          color: $cinnamon-satin;
          font-size: 12px;
          font-weight: 800;
          width: 193px;
          margin-top:10px ;
          text-align: center;
        }
        input,textarea{
            border: 2px solid $forest-green-crayola;
            border-radius: 50px;
            padding: 10px 5%;
            margin: 10px 0%;
            margin-right: 2%;
            box-sizing: border-box;
            color:$forest-green-crayola;
            &:focus{
              color:$forest-green-crayola;
              //font-weight: 800;
              //font-size: 13px;
            }
        }
        textarea{
          border-radius: 20px;
          width: 100%;
        }
        input::placeholder, textarea::placeholder{
          color: $forest-green-crayola;
          font-family: 'roboto';
        }
        .cadastro{
            &-descricao{
              @media only screen and (max-width: 768px) {
                  margin-top: 15px;
              }
            }
            &-titulo{
                width: 100%;
            }
            &-valor{
              width: 56%;
            }
            &-desconto{
              width: 40%;
            }
            &-upload{

                display: none;
            }
            &-upload-label{
                color: white;
                background-color: $forest-green-crayola;
                padding: 15px 30px;
                border-radius: 50px;
                font-size: 14px;
                margin-top: 5px;
                cursor: pointer;
            }
            &-submit{
                background-color: $cinnamon-satin;
                border: 0;
                color: white;
                font-weight: 800;
                font-size: 15px;
                padding: 15px 25px;
                cursor: pointer;
                &:focus{
                  color: white;
                }
            }
            &-titulo{
              
            }
        }
    }

    .cont-over{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $cinnamon-satin;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column;
        .mensagem{  
          text-align: center;
          font-weight: 800;
          font-size: 25px;
          font-weight: 800;
          line-height: 1.3em;
        }
        .bt-mensagem{
          margin-top: 20px;
          background-color: white;
          border-radius: 50px;
          padding: 15px 25px;
          color:$cinnamon-satin;
          cursor: pointer;
        }
    }
}
.cont-frase-importante{
  margin-top: 300px;
  margin-bottom: 50px;
    .frase-importante{
      color: $russian-violet;
      max-width: 500px;
      margin: 0 auto;
      font-size: 35px;
      span{
        background-color: $terra-cotta;
        color: white;
        padding: 0 5px;
        
      }
    }
}
.cont-ofertas-cadastradas{
  padding-bottom: 100px;
  .wrapper{
    display: flex;
    padding: 0 20px;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    box-sizing: border-box;
    .cont-box-produto{
      margin: 20px 20px;
      width: 250px;
    }
    .cont-image{
        background-color: #ccc;
    }
  }
}

.rodape{
  height: 500px;
  width: 100%;
  height: 500px;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    
  .wrapper-left{

    flex-grow: 1;
    background-color: $russian-violet;
    height: 258px;
    margin-right: -1px;
  }
  .wrapper{
      background-image: url('/images/rodapeBackground.jpg');
      background-repeat: no-repeat;
      background-position: bottom;
      height: 100%;
      width: 100%;
      padding-top: 10%;
      padding-left: 21px;
    padding-right: 20px;
    box-sizing: border-box;
      .box-auxiliar{
        max-width: 450px;
        height: 220px;
        background-color: $forest-green-crayola;
        border-radius: 28px;
       
    
      }
  }
  .wrapper-right{
    flex-grow: 1;
    background-color: $russian-violet ;
    height: 435.6px;
    margin-left:-1px
  }
}